
body{
    background-image: url("pics/b.png");
    background-position-y: 7vh;
    background-repeat: no-repeat;
    background-color: #808099;
    color: rgb(226, 226, 226);
    width: 100%;
    margin-top: 0px;
    box-sizing: border-box;

}
header {
    text-align: center;

}
header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 45px;
    background-color: #5d4954;
    font-family: 'Sarpanch', sans-serif;
    width: 100%;

}
a {
    text-decoration: none;
    color: rgb(226, 226, 226);

}
#logo a{ /* J U M I . B I Z */
    color: #67897E;
    font-weight: bold;
    font-size: 29px;
    letter-spacing: 6px;
    cursor: pointer;

}
.navLinks {
    display: flex;
    justify-content: space-around;
    width: 60%;
    text-transform: uppercase;

}
.navLinks li{ /* MENU-LINKs */
    list-style: none;
    color: rgb(226, 226, 226);
    letter-spacing: 4px;
    font-weight: bold;
    font-size: 15px;
    text-shadow: 1px 2px 0 black;

}

nav{ /* NAVIGATION */
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 45px;
    background-color: #5d4954;
    font-family: 'Sarpanch', sans-serif;
  
}
.menu{ /* MENU */
    display: none;
    cursor: pointer;

}
.menu div{ /* MENU-DIVs */
    width: 28px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.15s ease;

}
/* SCREEN */
@media screen and (max-width: 1024px){
    .nav-links{
    width: 60%;

    }
  }
@media screen and (max-width: 768px){
    html, body{
      overflow-x: hidden;

    }
    .menu{
      display: block;
    }
    
    .navLinks{
        font-size: 20px;
        position: absolute;
        right: -10px;
        height: 70vh;
        top: 20px;
        background-color: #5d4954;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 20%;
        transform: translateX(100%);
        border-bottom-left-radius: 16px;
      

    }
}

.nav-active{ /* MENU-CLICKED*/
    transform: translateX(0%);
    transition: transform 0.15s ease-in;

}
/* MENU-ANIMATION */
@keyframes navLinkFade{
    from{
      opacity: 0;
      transform: translateX(50px);
    }
    to{
      opacity: 1;
      transform: translateX(0px);
    }
}
/* ICON-ANIMATION */
.cross .line0{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.cross .line1{
    opacity: 0;
}
.cross .line2{
    transform: rotate(+45deg) translate(-5px, -6px);
}
#liste li{
    list-style-type: none;
    text-align: left;
    position: absolute;
    margin-left: 15%;

}
h1, h2, h3 { /* Überschriften */
    color: #EBEB99;
    font-family: 'Sarpanch', sans-serif;
    letter-spacing: 5px;
    text-shadow: 1px 2px 0 black;
    font-size: 18px;
}
main {
    width: 50%;
    padding: 4.5em;
    margin: auto;
}
footer {
    position: relative;
    margin-bottom: 1vh;
    text-align: center;
}