/* Footer unten halten - Lösung: https://matthewjamestaylor.com/bottom-footer*/
/*www.jumi.biz - 22.03.2021*/
body {
    margin: 0px;
    padding: 0px;
    height: 100%; /* Footer Lösung */
    width: 100%;
    box-sizing: border-box;
    background-image: url("pics/b.jpg"); /* Bild einfügen */
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-color: #808099;
    color: #F0FFFF;
    position: relative; /* Footer Lösung */
    min-height: 100vh; /* Footer Lösung */

}
.page {
    width: 100%;
    height: 100%;
}
.container {
    width: 93%;
    padding-top: 2.3em;
    padding-bottom: 3.5em; /* Footer Höhe */
    margin: auto;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
    grid-gap: 1em;
    text-shadow: 0.5px 0.5px #1f1f1f;
    justify-items: center;
}
main {
    padding-bottom: 3.2em; 
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.3px;
    line-height: 1.4em;
}
main > img {
    max-width: 80vw;

}
footer { /* Impressum */
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 3.5em; /* Footer Höhe */
    background-color: #5d4954;
    color: #67897E;
    text-align: center;
    text-shadow: 1px 1px #1f1f1f;

}
#footer-link { /* github.com/xuser123 */
    color: #67897E;
}
header {
    text-align: center;

}
header nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 45px;
    background-color: #5d4954;
    font-family: 'Sarpanch', sans-serif;
    box-shadow: 0px 0.6px #1f1f1f;

}
a {
    text-decoration: none;
    color: #fff;
}
main a:hover {
    text-decoration: underline;
}
#logo a { /* Jumi.biz Logo */
    color: #67897E;
    font-weight: bold;
    font-size: 29px;
    letter-spacing: 6px;
    cursor: pointer;
    text-shadow: 2.3px 2.3px #1f1f1f;

}
.navLinks { /* Navigations Leiste */
    display: flex;
    justify-content: space-around;
    width: 60%;
    text-transform: uppercase;

}
.navLinks li { /* Navigations Hyperlinks */
    list-style: none;
    color: rgb(226, 226, 226);
    letter-spacing: 4px;
    font-weight: bold;
    font-size: 12px;
    text-shadow: 0.5px 0.5px #1f1f1f;

}
.menu { /* Menü Icon Container versteckt */
    display: none;
    cursor: pointer;
}
.menu div { /* Menü Icon Elemente */
    width: 28px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.15s ease;
}
@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}
@media screen and (max-width: 768px) {
    
    html, body {
        overflow-x: hidden;
    }
    .menu { /* Menü Icon Container */
        display: block;
    }
    .navLinks { /* Navigations Menü */
        font-size: 12px;
        position: absolute;
        right: -10px;
        height: 52vh;
        top: 20px;
        background-color: #5d4954;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 25%;
        transform: translateX(100%);
        border-bottom-left-radius: 14px;
        box-shadow: 0px 0.6px 1f1f1f;
      
    }
    .container {
        padding-top: 1.6em;
    }
    footer {
        font-size: small;
    }
}
.nav-active { /* Menü Icon geklickt */
    transform: translateX(0%);
    transition: transform 0.15s ease-in;
}
@keyframes navLinkFade { /* Menü Animation */
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
.cross .line0 { /* Menü Icon Animation */
    transform: rotate(-45deg) translate(-5px, 6px);
}
.cross .line1 {
    opacity: 0;
}
.cross .line2 {
    transform: rotate(+45deg) translate(-5px, -6px);
}
h1, h2, h3, h5 { /* Überschriften */
    color: #EBEB99;
    font-family: 'Sarpanch', sans-serif;
    letter-spacing: 3.2px;

}
code, #htme { /* Code Fenster in html.html */
    display: inline-block;
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.2em;
    color: #000;
    text-align: left;
    border: 2px;
    border-style: inset;
    background-color: rgb(195, 195, 195);
    line-height: 1.5em;
    text-shadow: none;

}
.right_grid {
    padding-top: 2.5em;
    font-size: smaller;
    text-shadow: 0.5px 0.5px 0 #1f1f1f;
    line-height: 1.4em;
}
dl > dt {
    color: #fff;
}