@font-face {
font-family:'Sarpanch';font-style:normal;src:
url('../fonts/sarpanch-v11-latin-regular.woff2')
/* Super Modern Browsers */ format('woff2'),
url('../fonts/sarpanch-v11-latin-regular.woff')
/* Modern Browsers */ format('woff'),
url('../fonts/sarpanch-v11-latin-regular.ttf')
/* Safari, Android, iOS */ format('truetype'),
url('../fonts/sarpanch-v11-latin-regular.svg#Sarpanch') /* Legacy iOS */ format('svg');
}
@font-face {
font-family:'c64-mono';font-style:normal;src:
url('../fonts/C64_Pro_Mono-STYLE.woff2')
/* Super Modern Browsers */ format('woff2'),
url('../fonts/C64_Pro_Mono-STYLE.woff')
/* Modern Browsers */ format('woff'),
url('../fonts/C64_Pro_Mono-STYLE.ttf')
/* Safari, Android, iOS */ format('truetype');
}
@font-face {
font-family:'c64-elite';font-style:normal;src:
url('../fonts/C64_Elite_Mono_v1.0-STYLE.ttf')
/* Safari, Android, iOS */ format('truetype');
}
@font-face {
font-family:'c64-Pro';font-style:normal;src:
url('../fonts/C64_Pro-STYLE.woff2')
/* Super Modern Browsers */ format('woff2'),
url('../fonts/C64_Pro-STYLE.woff')
/* Modern Browsers */ format('woff'),
url('../fonts/C64_Pro-STYLE.ttf')
/* Safari, Android, iOS */ format('truetype');
}
header {
    align-items: center;
    background-color: var(--shadow-grey);
    color: var(--laser-blue);
    display: flex;
    font-family: 'Sarpanch', sans-serif;
    font-size: 25px;
    height: 55px;
    justify-content: space-between;
    letter-spacing: 0.23rem;
    position: relative;
    text-shadow: 1.5px 2px #000;
    box-shadow:var(--space-motion);
}
main {
    background-color: #000;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    letter-spacing: 0.18em;
    padding: 3vw 0 9vw;
}
.header-content {
    align-items: center;
    display: inline-block;
    padding: 5px;
    vertical-align: middle;
    animation: neon .08s ease-in-out infinite alternate;
}
.menu-list {
    background-color: var(--shadow-grey);
    border-bottom-left-radius: 0.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 53px;
    transition: clip-path ease-in-out 300ms;
    z-index: 1;
    box-shadow:var(--space-motion);
}
.menu-button {
    background-color: transparent;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
    margin: 8px;
    padding: 18px;
    position: absolute;
    right: 0;
    top: 0;
}
.menu-button:hover * {
    background-color: var(--neon-pink);
}
.hidden-menu {
    clip-path: inset(50%);
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    position: absolute;
    box-shadow:var(--space-motion);
    white-space: nowrap;
    width: 1px;
}
.list-icon {
    align-items: center;
    display: inline-block;
    padding:1em;
    text-align: left;
    vertical-align: middle;
}
.flex {
    display: flex;
    gap: 0.6rem;
}
.grid-container {
    display: grid;
    gap: 1rem;
    grid-auto-columns: 1fr;
    grid-template-areas:
    'one' 'two' 'three' 'four' 'five';
    grid-template-columns:
    repeat(auto-fit, minmax(200px, 1fr));
    justify-content: space-around;
    margin-inline: auto;
    width: min(97%, 90rem);
}
.content {
    align-items: center;
    width: 100%;
    background-color: var(--shadow-grey);
    border-radius: 0.35rem;
    color:var(--pipi-white);
    justify-content: space-around;
    line-height: 1.337em;
    padding: 0 1em 1em;
    position: relative;
    text-shadow: 1.5px 2px #000;
    box-shadow:var(--space-motion);
}
q, cite, figcaption {
    font-size:small;
}
summary {
    color:var(--laser-blue);
    border-radius: 0.5em;
    border:1px solid #000;
    line-height: 1.6em;
    cursor: pointer;
    display:inline-block;
    margin: 1em 0 2em;
    text-align:match-parent;
    font-family:'c64-Pro';
    font-size: small;
    width: min(max-content, max(min-content, stretch));
    padding: 0.5em;
    box-shadow:var(--ants-cry);
}
summary:hover,
summary:focus {
    animation: neon-box .08s ease-in-out infinite alternate;
    color: var(--neon-pink);
    border: none;
    outline: none;
    box-shadow: none;
}
details {
    justify-content: space-around;
    text-align:center;
    width: min(max-content, max(min-content, stretch));
    padding: 0 0 2em;
}
details[open] > summary {
    color: var(--laser-blue);
    animation: none;
    box-shadow: none;
}
.quiz-answers {
    animation: neon .08s ease-in-out infinite alternate;
    color: var(--neon-pink);
    width: 100%;
    text-align:match-parent;
    font-family:'c64-Pro';
    width: min(max-content, max(min-content, stretch));
    display:inline-block;
    font-size: large;
}
footer {
    align-items: center;
    background-color: var(--shadow-grey);
    display: flex;
    justify-content: space-around;
    margin: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
