@font-face {
font-family:'Sarpanch';font-style:normal;src:
url('../fonts/sarpanch-v11-latin-regular.woff2')
/* Super Modern Browsers */ format('woff2'),
url('../fonts/sarpanch-v11-latin-regular.woff')
/* Modern Browsers */ format('woff'),
url('../fonts/sarpanch-v11-latin-regular.ttf')
/* Safari, Android, iOS */ format('truetype'),
url('../fonts/sarpanch-v11-latin-regular.svg#Sarpanch') /* Legacy iOS */ format('svg');
}
header {
    align-items: center;
    background-color: var(--vader-black);
    color: var(--neon-blue);
    display: flex;
    font-family: 'Sarpanch', sans-serif;
    font-size: 25px;
    height: 50px;
    justify-content: space-between;
    letter-spacing: 0.23rem;
    position: relative;
    text-shadow: 1.5px 2px #000;
    box-shadow:
        rgba(0, 240, 240, 0.4) 0px 2px 4px,
        rgba(0, 240, 240, 0.3) 0px 7px 13px -3px,
        rgba(0, 240, 240, 0.2) 0px -3px 0px inset;
}
main {
    background-color: #000;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    letter-spacing: 0.18em;
    padding: 3vw 0 9vw;
}
.header-content {
    align-items: center;
    display: inline-block;
    padding: 5px;
    vertical-align: middle;
    animation: neon .08s ease-in-out infinite alternate;
}
.menu-list {
    background-color: var(--vader-black);
    border-bottom-left-radius: 0.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 49px;
    transition: clip-path ease-in-out 300ms;
    z-index: 1;
    box-shadow:
        rgba(0, 240, 240, 0.4) 0px 2px 4px,
        rgba(0, 240, 240, 0.3) 0px 7px 13px -3px,
        rgba(0, 240, 240, 0.2) 0px -3px 0px inset;
}
.menu-button {
    background-color: transparent;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
    margin: 8px;
    padding: 15px;
    position: absolute;
    right: 0;
    top: 0;
}
.hidden-menu {
    clip-path: inset(50%);
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    position: absolute;
    box-shadow:
        rgba(0, 240, 240, 0.4) 0px 2px 4px,
        rgba(0, 240, 240, 0.3) 0px 7px 13px -3px,
        rgba(0, 240, 240, 0.2) 0px -3px 0px inset;
    white-space: nowrap;
    width: 1px;
}
.list-icon {
    align-items: center;
    display: inline-block;
    padding:1em;
    text-align: left;
    vertical-align: middle;
}
.flex {
    display: flex;
    gap: 0.6rem;
}
.grid-container {
    display: grid;
    gap: 1rem;
    grid-auto-columns: 1fr;
    grid-template-areas:
    'one' 'two' 'three' 'four' 'five';
    grid-template-columns:
    repeat(auto-fit, minmax(200px, 1fr));
    justify-content: space-around;
    margin-inline: auto;
    width: min(97%, 90rem);
}
.content {
    align-items: center;
    width: 100%;
    background-color: var(--vader-black);
    border-radius: 0.35rem;
    color:var(--pipi-white);
    justify-content: space-around;
    line-height: 1.337em;
    padding: 0 1em 1em;
    position: relative;
    text-shadow: 1.5px 2px #000;
    box-shadow:
        rgba(0, 240, 240, 0.4) 0px 2px 4px,
        rgba(0, 240, 240, 0.3) 0px 7px 13px -3px,
        rgba(0, 240, 240, 0.2) 0px -3px 0px inset;
}
q, cite, figcaption {
    font-size:small;
}
summary {cursor: pointer;}
details {
    background-color:#000;
    border-radius: 0.5rem;
    color: var(--matrix-green);
    font-size: large;
    font-weight: 50;
    justify-content: center;
    margin: 2em; padding: 1em;
}
details[open] {
    animation: neon-box .08s ease-in-out infinite alternate;
}
footer {
    align-items: center;
    background-color: var(--vader-black);
    display: flex;
    justify-content: space-around;
    margin: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
