@keyframes clipPathCircleOpen {
    0% {clip-path: circle(0% at top right);}
    100% {clip-path: circle(250% at top right);}
}
@keyframes clipPathCircleClose {
    0% {clip-path: circle(250% at top right);}
    100% {clip-path: circle(0% at top right);}
}
@keyframes neon {
    from {text-shadow:0 0 6px rgba(202,228,225,0.92),0 0 30px rgba(202,228,225,0.34),0 0 12px rgba(30,132,242,0.52),0 0 21px rgba(30,132,242,0.92),0 0 34px rgba(30,132,242,0.78),0 0 54px rgba(30,132,242,0.92);
    }
    to {text-shadow:0 0 6px rgba(202,228,225,0.98),0 0 30px rgba(202,228,225,0.42),0 0 12px rgba(30,132,242,0.58),0 0 22px rgba(30,132,242,0.84),0 0 38px rgba(30,132,242,0.88),0 0 60px rgba(30,132,242,1);
    }
}
@keyframes neon-box {
    from {box-shadow:0 0 6px rgba(202,228,225,0.92),0 0 30px rgba(202,228,225,0.34),0 0 12px rgba(30,132,242,0.52),0 0 21px rgba(30,132,242,0.92),0 0 34px rgba(30,132,242,0.78),0 0 54px rgba(30,132,242,0.92);
    }
    to {box-shadow:0 0 6px rgba(202,228,225,0.98),0 0 30px rgba(202,228,225,0.42),0 0 12px rgba(30,132,242,0.58),0 0 22px rgba(30,132,242,0.84),0 0 38px rgba(30,132,242,0.88),0 0 60px rgba(30,132,242,1);
    }
}
@media (prefers-reduced-motion: reduce) {
    /* Remove all animations, transitions and smooth scroll
    for people that prefer not to see them */
    html:focus-within {
        scroll-behavior: auto;
    }
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        scroll-behavior: auto !important;
        transition-duration: 0.01ms !important;
    }
}
@media screen and (min-width: 35em) {
    .grid-container {grid-template-areas:
        "one one"
        "two three"
        "five five"
        "four four";
    }
}
@media screen and (min-width: 38em) {
    .grid-container {grid-template-areas:
        "one one"
        "two five"
        "three five"
        "four four";
    }
}
@media screen and (min-width: 54em) {
    .grid-container {grid-template-areas:
        "one one two"
        "five five five"
        "three four four";
    }
}
@media screen and (min-width: 75em) {
    .grid-container {grid-template-areas:
        "one one two five"
        "three four four five";
    }
}
body::-webkit-scrollbar {
/* Scrollleiste ausblenden */
    background-color: #000;
    display: none;
    width: 3px;
}
header::after {
    clear: both;
    content: "";
    display: block;
}
header a {color: var(--neon-blue);text-decoration: none;}
header a:hover, header a:focus {
    animation: neon .08s ease-in-out infinite alternate;
    color: var(--neon-pink);
    text-shadow: none;
}
.menu-list li:last-child > a{
    font-size:1em;
    text-transform: lowercase;
}
.menu-list li:last-child i{
    padding: 1em;
}
.menu-list a {
    border-bottom-left-radius: 0.35rem;
    color: var(--matrix-green);
    display: block;
    font-family: 'Sarpanch', sans-serif;
    padding-right: 0.6em;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
}
.menu-list[data-state="opened"] {
    animation: clipPathCircleOpen 300ms ease-in-out forwards;
    display: block;
}
.menu-list[data-state="closing"] {
    animation: clipPathCircleClose 300ms ease-in-out forwards;
}
.menu-list[data-state="closed"] {
    display: none;
}
.menu-icon,.menu-icon::before,.menu-icon::after {
     background-color: var(--neon-blue);
     border-radius: 2px;
     content: "";
     display: block;
     height: 3px;
     transition: all ease-in-out 400ms;
     width: 20px;
     box-shadow:
          rgba(0, 240, 240, 0.4) 0px 2px 4px,
          rgba(0, 240, 240, 0.3) 0px 7px 13px -3px,
          rgba(0, 240, 240, 0.2) 0px -3px 0px inset;
}
.menu-icon::before {
     transform: translateY(-6px);
}
.menu-icon::after {
     transform: translateY(3px);
}
[aria-expanded="true"] .menu-icon {
     transform: rotate(45deg);
}
[aria-expanded="true"] .menu-icon::before {
     opacity: 0;
}
[aria-expanded="true"] .menu-icon::after {
     transform: translateY(-3px) rotate(-90deg);
}

