
@keyframes clipPathCircleOpen {
    0% {clip-path: circle(0% at top right);}
    100% {clip-path: circle(250% at top right);}
}
@keyframes clipPathCircleClose {
    0% {clip-path: circle(250% at top right);}
    100% {clip-path: circle(0% at top right);}
}
@keyframes neon {
    from {text-shadow:0 0 6px rgba(202,228,225,0.92),0 0 30px rgba(202,228,225,0.34),0 0 12px rgba(30,132,242,0.52),0 0 21px rgba(30,132,242,0.92),0 0 34px rgba(30,132,242,0.78),0 0 54px rgba(30,132,242,0.92);
    }
    to {text-shadow:0 0 6px rgba(202,228,225,0.98),0 0 30px rgba(202,228,225,0.42),0 0 12px rgba(30,132,242,0.58),0 0 22px rgba(30,132,242,0.84),0 0 38px rgba(30,132,242,0.88),0 0 60px rgba(30,132,242,1);
    }
}
@keyframes neon-box {
    from {box-shadow: 0 0 6px rgba(202, 228, 225, 0.92),0 0 24px rgba(202, 228, 225, 0.34), 0 0 9.6px rgba(30, 132, 242, 0.52), 0 0 16.8px rgba(30, 132, 242, 0.92), 0 0 27.2px rgba(30, 132, 242, 0.78), 0 0 43.2px rgba(30, 132, 242, 0.92);
    }
    to {box-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 24px rgba(202, 228, 225, 0.42), 0 0 9.6px rgba(30, 132, 242, 0.58), 0 0 17.6px rgba(30, 132, 242, 0.84), 0 0 30.4px rgba(30, 132, 242, 0.88), 0 0 48px rgba(30, 132, 242, 1);
    }
}
@media (prefers-reduced-motion: reduce) {
    /* Remove all animations, transitions and smooth scroll
    for people that prefer not to see them */
    html:focus-within {
        scroll-behavior: auto;
    }
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        scroll-behavior: auto !important;
        transition-duration: 0.01ms !important;
    }
}
@media screen and (min-width: 35em) {
    .grid-container {grid-template-areas:
        "one one"
        "two three"
        "five five"
        "four four";
    }
}
@media screen and (min-width: 38em) {
    .grid-container {grid-template-areas:
        "one one"
        "two five"
        "three five"
        "four four";
    }
}
@media screen and (min-width: 54em) {
    .grid-container {grid-template-areas:
        "one one two"
        "five five five"
        "three four four";
    }
}
@media screen and (min-width: 75em) {
    .grid-container {grid-template-areas:
        "one one two five"
        "three four four five";
    }
}
@media screen and (max-width: 35em) {
    #tasten-steuerung {
    display:none;
    }
}
