main {
    padding-top: 1rem;padding-bottom: 8rem;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.grid-container {
    display: grid;gap: 1rem;
    grid-auto-columns: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-areas: 'one' 'two' 'three' 'four' 'five';
    width: min(97%, 70rem);
    margin-inline: auto;
    justify-content: space-between;
}
.content {
    background-color: #131313;
    position: relative;
    text-shadow: 1.5px 2px #000;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;border-radius: 0.3rem;
    box-shadow:
        rgba(0, 240, 240, 0.4) 0px 2px 4px,
        rgba(0, 240, 240, 0.3) 0px 7px 13px -3px,
        rgba(0, 240, 240, 0.2) 0px -3px 0px inset;
}
.content:nth-child(1) {grid-area: one;}
.content:nth-child(2) {grid-area: two;}
.content:nth-child(3) {grid-area: three;}
.content:nth-child(4) {grid-area: four;}
.content:nth-child(5) {grid-area: five;}
.content h1 {color: #ffbfea; /* pink */}
.content > h2, h3, h4 {color: #8dd88e;margin-top: 1.3em;} /* green */
.content a, .content b {color: #00f0f0;} /* blue */
.content > a:hover, a:focus {
    color: #ffbfea/* pink */;text-shadow:none;text-decoration:none;
    animation: neon .08s ease-in-out infinite alternate;
}
.content > ul, ol {list-style: none;}
.content img {width: 100%;}
.inside-content {
    height:100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.in-inside {height:100%;margin-top: 0;}
.flow > *:where(:not(:first-child)) {margin-top: var(--flow-spacer, 0.2rem);}
.flex {display: flex;gap: var(--gap, 0.6rem);}
