/* ### MAIN ### */
body {
/* Set core body defaults */
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    height: 100%; /* Footer-unten-halten-Lösung */
    position: relative; /* Footer-unten-halten-Lösung */
    letter-spacing: 0.1rem;
    background-color: #000;
}

/* ### HEADER ### */
header {
    text-shadow: 1.5px 2px black;
    background: #131313;
    color: #00f0f0;
    padding: 2em 4em 1.5em 1.5em;
    position: relative;
    display: flex;
    justify-content: space-between;
    font-family: 'Sarpanch', sans-serif;
    box-shadow:
        rgba(0, 240, 240, 0.4) 0px 2px 4px,
        rgba(0, 240, 240, 0.3) 0px 7px 13px -3px,
        rgba(0, 240, 240, 0.2) 0px -3px 0px inset;
}
header::after {
    content: "";
    clear: both;
    display: block;
}
.header-content {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    letter-spacing: 0.2em;
}

/* ### LOGO ### */
.jumi-logo {
    top: 0.5em;
    left: 1em;
    position: absolute;
    font-size: 1.337rem;
    margin: 0;
}
.jumi-logo a {
    cursor: pointer;
    animation: neon .08s ease-in-out infinite alternate;
}
#jumi-path {
    color: #ebebd3;
    font-size: 0.75rem;
    font-weight: 200;
    cursor: default;
    animation: none;
}

/* ### NEONLICHT ### */

/* https://freefrontend.com/css-animated-backgrounds */

/* Leuchteffekt */
@keyframes clipPathCircleOpen {
     0% {clip-path: circle(0% at top right);}
     100% {clip-path: circle(250% at top right);}
}
@keyframes clipPathCircleClose {
     0% {clip-path: circle(250% at top right);}
     100% {clip-path: circle(0% at top right);}
}

/* Leuchtschatten */
@keyframes neon {
     from {text-shadow:
          0 0 6px rgba(202,228,225,0.92),
          0 0 30px rgba(202,228,225,0.34),
          0 0 12px rgba(30,132,242,0.52),
          0 0 21px rgba(30,132,242,0.92),
          0 0 34px rgba(30,132,242,0.78),
          0 0 54px rgba(30,132,242,0.92);
    }
     to {text-shadow:
          0 0 6px rgba(202,228,225,0.98),
          0 0 30px rgba(202,228,225,0.42),
          0 0 12px rgba(30,132,242,0.58),
          0 0 22px rgba(30,132,242,0.84),
          0 0 38px rgba(30,132,242,0.88),
          0 0 60px rgba(30,132,242,1);
    }
}

/* Leuchtanimation */
@keyframes bg-animation {
     0% {transform: translate(0,0)}
     10% {transform: translate(-5%,-5%)}
     20% {transform: translate(-10%,5%)}
     30% {transform: translate(5%,-10%)}
     40% {transform: translate(-5%,15%)}
     50% {transform: translate(-10%,5%)}
     60% {transform: translate(15%,0)}
     70% {transform: translate(0,10%)}
     80% {transform: translate(-15%,0)}
     90% {transform: translate(10%,5%)}
     100% {transform: translate(5%,0)}
}

/* ### FONTS ### */
@font-face {
    /* sarpanch-regular - latin */
     font-family: 'Sarpanch';
     font-style: normal;
     src: url('./fonts/sarpanch-v11-latin-regular.eot')
    /* IE9 Compat Modes */
    , url('./fonts/sarpanch-v11-latin-regular.eot?#iefix') format('embedded-opentype')
    /* IE6-IE8 */
    , url('./fonts/sarpanch-v11-latin-regular.woff2') format('woff2')
    /* Super Modern Browsers */
    , url('./fonts/sarpanch-v11-latin-regular.woff') format('woff')
    /* Modern Browsers */
    , url('./fonts/sarpanch-v11-latin-regular.ttf') format('truetype')
    /* Safari, Android, iOS */
    , url('./fonts/sarpanch-v11-latin-regular.svg#Sarpanch') format('svg')
    /* Legacy iOS */ ;
}
