@media (prefers-reduced-motion: reduce) {
    /* Remove all animations, transitions and smooth scroll
     for people that prefer not to see them */
     html:focus-within {
         scroll-behavior: auto;
    }
     *, *::before, *::after {
         animation-duration: 0.01ms !important;
         animation-iteration-count: 1 !important;
         transition-duration: 0.01ms !important;
         scroll-behavior: auto !important;
    }
}
@media screen and (min-width: 33em) {
     .grid-container {
          grid-template-areas:
          "one one" "two three" "five five" "four four";
    }
     #modal-01,#modal-02,#modal-03 {
         width: 40;
         height: 40;
    }
}
@media screen and (min-width: 38em) {
     .grid-container {
          grid-template-areas:
          "one one' 'two five' 'three five' 'four four";
    }
     #modal-01,#modal-02,#modal-03 {
         width: 40;
         height: 40;
    }
}
@media screen and (min-width: 54em) {
     .grid-container {
         grid-template-areas:
         "one one two" "five five five" "three four four";
    }
     #modal-01,#modal-02,#modal-03 {
         width: 60;
         height: 60;
    }
}
@media screen and (min-width: 75em) {
     .grid-container {
         grid-template-areas:
         "one one two five" "three four four five";
    }
     #modal-01,#modal-02,#modal-03 {
         width: 60;
         height: 60;
    }
}
