/* ### ICON */
.hamburger,.hamburger::before,.hamburger::after {
     content: "";
     display: block;
     background: #00f0f0;
     height: 3px;
     width: 1.8em;
     border-radius: 2px;
     transition: all ease-in-out 400ms;
     box-shadow:
          rgba(0, 240, 240, 0.4) 0px 2px 4px,
          rgba(0, 240, 240, 0.3) 0px 7px 13px -3px,
          rgba(0, 240, 240, 0.2) 0px -3px 0px inset;
}
.hamburger::before {
     transform: translateY(-6px);
}
.hamburger::after {
     transform: translateY(3px);
}
[aria-expanded="true"] .hamburger {
     transform: rotate(45deg);
}
[aria-expanded="true"] .hamburger::before {
     opacity: 0;
}
[aria-expanded="true"] .hamburger::after {
     transform: translateY(-3px) rotate(-90deg);
}

/* ### MENU */
button {
    background: #131313;
    border: 1px solid #8dd88e;
    cursor: pointer;
    color: #8dd88e;
    border-radius: 2px;
}
    button:hover {
    text-decoration: none;
    color: #ffbfea;
    animation: neon .08s ease-in-out infinite alternate;
    text-shadow: none;
}
.primary-navigation {
    position: absolute;
    top: 100%;/*3.35em;*/
    right: 0%;
    background: #131313;
    transition: clip-path ease-in-out 300ms;
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom-left-radius: 0.3rem;
    box-shadow:
        rgba(0, 240, 240, 0.4) 0px 2px 4px,
        rgba(0, 240, 240, 0.3) 0px 7px 13px -3px,
        rgba(0, 240, 240, 0.2) 0px -3px 0px inset;
}
.primary-navigation[data-state="opened"] {
    animation: clipPathCircleOpen 300ms ease-in-out forwards;
    display: block;
}
.primary-navigation[data-state="closing"] {
    animation: clipPathCircleClose 300ms ease-in-out forwards;
}
.primary-navigation[data-state="closed"] {
    display: none;
}
.site-nav {z-index: 1;}
.site-nav li {
    border-bottom: 1px solid #575766;
    /*top: 3.3em;*/
}
.site-nav li:last-child {border-bottom: none;}
.site-nav a {
    font-size: 1.3rem;
    color: #8dd88e;
    display: block;
    padding: 1.3em 4em 1.3em 1.5em;
    text-transform: uppercase;
    text-decoration: none;
}
.site-nav a:hover,.site-nav a:focus {
    animation: neon .08s ease-in-out infinite alternate;
}
.site-nav--icon {
    display: inline-block;
    margin-right: 1em;
    width: 1.1em;
    text-align: right;
    color: rgba(255, 255, 255, 0.4);
}

/* ### TOGGLE */
.menu-toggle {
    padding: 1.3em; /*Button-Position*/
    background: transparent;
    border: 0;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    cursor: pointer;
}
.visually-hidden {
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    box-shadow:
        rgba(0, 240, 240, 0.4) 0px 2px 4px,
        rgba(0, 240, 240, 0.3) 0px 7px 13px -3px,
        rgba(0, 240, 240, 0.2) 0px -3px 0px inset;
    white-space: nowrap;
    width: 1px;
}
#wtf-is-jumi {
    text-transform: lowercase;
    font-size: smaller;
}
