section {
    justify-content: space-evenly;
    position: relative;
    width: 100%;
    text-align: justify;
}
ul, ol {
    list-style: none;
    font-size:x-small;
    padding-left:0;
}

th {
    color:var(--pipi-white);
	font-weight: 50;
    font-size:x-small;
    text-align: center;
}
td {
	font-weight: 50;
    color:var(--pipi-white);
    padding:0 1.6vw 0;
    text-align: center;
}
caption {
    caption-side: top;
    margin: 0.3rem;
    font-weight: bold;
    color: var(--matrix-green);}
}
aside {
    position:relative;
    display:block;
    width:75%;
}
code {
    display: inline-table;
    font-family: 'Source Code Pro', monospace;
    color: var(--matrix-green);
    text-align: left;
    background-color: #000;
    text-shadow: none;
    max-width:max-content;
    padding-left: 0.6em;
    padding-right: 0.6em;
    font-size: small;
}
mark {
    padding-left: 0.2em;
    padding-right: 0.2em;
    background-color: revert;
    color: revert;
    font-size: 0.85em;
}
.error-page {
    position:relative;
    min-width:65vw;
    justify-content: center;
    text-align:center;
}
.zitiert {
    font-size:x-small;
    width: 100%;
    line-height: 0;
    text-align: center;
}
.bsp-txt {
    font-size:small;
    text-align:left;
    width: 100%;
}


